@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #0E3339;
  --color-primary: #008BA5;
  --color-accent: #CEF3E4;
  --color-dark-teal: #004D5B;
  --color-dark-navy: #101A23;
  --color-light-grey: #F6F6F6;
  --color-light-teal: #E6F4F6;
  
  --font-inter: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-background);
  color: #ffffff;
  min-height: 100vh;
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(0, 139, 165, 0.3);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}